body {
    background-color: #d7c5a0;
    font-family:Verdana;
}

h1 {
    color: #2a5d84;
    font-family: Verdana;
}

.line {
    border-top: 1px solid black;
}

h2 {
    color: #2a5d84;
    font-family: Verdana;
    font-weight: bold;
}

li {
    color: #4d4d4d;
    font-family: Verdana;
}
p {
    color: #4d4d4d;
    font-family: Verdana;
}

a {
    color: #ba0000;
}
